/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
    font: 16px Helvetica, Sans-Serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: white;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: left;
	background-color: rgb(158, 211, 252);
	padding: 20px;

}
.right {
	position: right;
    size: 35%;
	background-color: rgb(64, 203, 224);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h3 {
	background-color: rgb(4, 96, 150);
}