{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="mx-auto row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      
      <img src="vel.jpeg"
        class="d-block mx-lg-auto img-fluid" alt="EASA" width="800" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">About EASA COLLEGE
      </h1>
      <p class="lead">By choosing to view our website, you have opened a portal that presents you a delightful journey into our 
        illustrious institution – now on its way to scripting history following 36 years of spectacular success!</p>
    </div>
  </div>
</div>

<div class="container">
  <h1>Vision </h1>
  <p>To educate the educands both by theory and practice to fit in with the society and to conquer tomorrow’s technology at global level with human values through our dedicated team.

  </p>
  <h1>Mission </h1>
     <p>
      Providing rich and varied contexts for pupils to acquire, develop and apply a broad range of knowledge, understanding and skills</p>
      <P>Creating opportunities to mould students to become creative, innovative, enterprising and capable leaders.</P>
      <P>Encouraging and stimulating the students for the best possible progress and the highest levels of attainment in life.</P>
      <P>Building students’ strengths, interests and experiences to develop confidence in their capacity to learn and work independently and collaboratively.</P>
      <P>Developing students’ sense of identity through knowledge and understanding of the spiritual, moral, social and cultural heritage of local, national and global dimensions of their lives.</P>
      <P>Encouraging students to appreciate human aspirations and achievements in aesthetic, scientific, technological and social fields and prompt a personal response to a range of experiences and ideas.</P>
  <h1>Our Campus</h1>
  <h2>LABORATORIES</h2>
       <p>
        Easa is well equipped with state-of-the-art laboratories for Physics, Chemistry, Biology and Computer with modern equipment, models and unique facilities.</p>
    <h2>V-CAFE (CANTEEN)</h2>  
    <p>Easa has a full-fledged canteen within the campus that enables all the staff and students to have balanced-delicious meals, snacks and hot beverages.</p>
     <h2>SMART CLASSES</h2> 
     <p>The ambiance at Easa inspires learning and the facilities here are truly sophisticated and world class. The classrooms are spacious enough and well equipped with teaching tools.</p>
     <h2>ECAYLP CLASSROOMS</h2>
     <p>Education is a process wherein the focus is on imparting knowledge to the students. It can only be completed when there is an overall physical and mental development.</p>
     <h2>LIBRARY</h2>
     <p>The Central Library at Easa is a gateway to knowledge resources. It houses a wide collection of Books, Encyclopedias, Journals, Magazines and other research related papers.</p>
     <h2>HEALTH CENTRE</h2>
      <p>A Health Centre is available for the students and staff with a doctor and a nurse for first-aid and emergency medical care.</p>
</div>

{% endblock %}