
<style>
  body{
    background-image: url("vel1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

</style>
<div class="px-4 py-5 my-5 text-center">
  <a href="https://www.ibm.com/in/en?lnk=m" class="display-5 fw-bold">EASA</a>
  <h1 class="display-5 fw-bold">EASA</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Introducing the various Vision  --EASA
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://www.ibm.com/lets-create/new-creators/in-en/" type="button"
        class="btn btn-primary btn-lg px-4 gap-3"> new Vision -></a>
    </div>
  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p class="fs-5 mb-4">
        To educate the educands both by theory and practice to fit in with the society and to conquer tomorrow’s technology at global level with human values through our dedicated team.</p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Read the blog</button>
      </div>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom"> MISSION</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h3 class="fs-2">MISSION STATEMENT OF THE SCHOOL
      </h3>
      <p>Providing rich and varied contexts for pupils to acquire, develop and apply a broad range of knowledge, understanding and skills.</p>
      <a href="#" class="btn btn-primary px-4">
        Explore the new Mission
      </a>
    </div>

    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h2>CAMPUS LIFE</h2>
      <h3 class="fs-2">LABORATORIES</h3>
      <p>Easa is well equipped with state-of-the-art laboratories for Physics, Chemistry, Biology and Computer with modern equipment, models and unique facilities.</p>
      <a href="#" class="btn btn-primary px-4">
        Make an Campus
      </a>
    </div>

    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#people-circle"></use>
        </svg>
      </div>
      <h3 class="fs-2">HEALTH CENTRE</h3>
      <p>A Health Centre is available for the students and staff with a doctor and a nurse for first-aid and emergency medical care.</p>
      <a href="#" class="btn btn-primary px-4">
        Health Center
      </a>
    </div>

  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="row justify-content-center align-items-center py-5">
    <div class="col-sm-12 col-md-5 col-lg-5">
      <p class="fs-5 mb-4"></p>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Read the blog</button>
      </div>
    </div>
  </div>
</div>

